*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(135, 133, 211);
}

form{
    background-color:rgb(241, 240, 240) ;
    height: 400px;
    width: 300px;
    border: 1px solid ;
    border-radius: 10px;
    padding: 10px;
    text-align:center ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

form input,button{
    width: 100%;
}
.drop-down{
    margin:20px;
    display: flex;

}

.msg{
    background-color: antiquewhite;
    height: 30px;
    /* width: 250px; */
}